<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colibri.tripstori" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".TSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.colibri.tripstori.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.colibri.tripstori.activities.AboutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.colibri.tripstori.activities.AddInterestActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUtowTL0iq8Y85jJtC_5cK24GTSs4ZRTc"/>
    </application>

</manifest>
